{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                <h4>Use a local account to log in.</h4>
                <hr />
                <div class="form-group">
                    <label for="id_username" class="col-md-2 control-label">User name</label>
                    <div class="col-md-10">
                        {{ form.username }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password" class="col-md-2 control-label">Password</label>
                    <div class="col-md-10">
                        {{ form.password }}
                    </div>
                </div>
                {% if form.captcha_enabled %}
                <div class="form-group">
                    <label class="col-md-2 control-label">Verification</label>
                    <div class="col-md-10">
                        {{ form.captcha_token }}
                        <div class="cf-turnstile"
                             data-sitekey="{{ form.captcha_site_key }}"
                             data-callback="onTurnstileSuccess"
                             data-expired-callback="onTurnstileExpired"
                             data-error-callback="onTurnstileError"></div>
                    </div>
                </div>
                {% endif %}
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                {% if form.errors %}
                <p class="validation-summary-errors">Please enter a correct user name, password, and CAPTCHA response.</p>
                {% endif %}
            </form>
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>
</div>

{% endblock %}


{% block scripts %}

    {% load static %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
{% if form.captcha_enabled %}
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
<script>
function onTurnstileSuccess(token) {
    document.getElementById('id_captcha_token').value = token;
}

function onTurnstileExpired() {
    document.getElementById('id_captcha_token').value = '';
}

function onTurnstileError() {
    document.getElementById('id_captcha_token').value = '';
}
</script>
{% endif %}

{% endblock %}
